_build
*.byte
*.docdir

tests/*.cmi
tests/*.cmo
tests/*.cmt
tests/*.out

examples/*.cmi
examples/*.cmo
examples/*.cmt
examples/*.out

setup.data
setup.log
notes.txt
scratch.js
server.js
exhaust_api.js
.tern-port
chat_server.js
examples/node_modules
package.json
